{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>All Orders</h1>
<div class="row">
{% for order in orders %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static order.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ order.title }}</h5>
                <p class="card-text">{{ order.description }}</p>
                <a href="{% url 'order_detail' order.pk %}"
                   class="btn btn-primary">
                    Details
                </a>
		<a href="{% url 'make_fav' order.pk %}"
                   class="btn btn-primary">
                    Make Favourite
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
